* {
  font-family: "Meiryo UI"
}

.header {
  background-color: white;
  height: 50px;
  width: auto;
  float: left;
  padding: 15px;
  font-size: 30px;
}

.header-list {
  list-style: none;
  float: left;
}


.main {
  background-color:　#FFFF99;
  height: 300px;
  width: auto;
}
