.header {
  background-image: "background.jpg";
  background-suze: cover;
  height: 100px;
  font-size: 40px;
  border-bottom: 1px solid gray;
}

.header-logo {
  float: left;
}

.header-list li {
  float: left;
  list-style: none;
  padding:40px 30px;
  font-size: 15px;
}

.cats-member {
  width: 50%;
  float:left;
}
